body {
    background-image: url(../img/main-background.jpg);
}

header {
    background-color: rgb(255 255 255 / 70%);
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
}

.right {
    margin-right: 30px;
}

header a {
    color: #090b15;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: #090b15a6;
}

section {
    color: white;
    font-family: serif;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    font-family: serif;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 100px;
    background: #ffffff99;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    margin-bottom: 100px;
}

section h1 {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

h1{
    color: white;
    font-family: serif;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.form {
    background: #ffffff8c;
    width: 1000px;
    height: 650px;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}

input {
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 500px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-submit {
    width: 50px;
    font-family: inherit;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.submit {
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width:1900px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
    header {
        height: 140px;
        font-size: 40px;
    }
    header img {
        width: 60px;
        height: 60px;
    }
    .right {
        margin-right: 100px;
    }
}

@media screen and (min-width:1500px) {
    header {
        font-size: 35px;
        height: 120px;
    }
    header img {
        width: 40px;
        height: 40px;
    }
    .right {
        margin-right: 70px;
    }
}

@media screen and (max-width:1200px){
    section{
        width: 550px;
    }
    iframe{
        width: 500px;
    }
}

@media screen and (max-width:600px) {
    header {
        font-size: 18px;
        padding-top: 25px;
        height: 80px;
    }
    header img {
        width: 25px;
        height: 25px;
    }
    section{
        width: 270px;
    }
    iframe{
        width: 260px;
    }
    h1{
        font-size: 35px;
    }
}

@media screen and (max-width:400px) {
    header {
        font-size: 15px;
        padding-top: 18px;
        height: 60px;
    }
    header img {
        width: 20px;
        height: 20px;
    }
    h1{
        font-size: 30px;
    }
}